header{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .logo{
        height: 100%;
        width: 10%;
        display: flex;
        align-items: baseline;
        gap: 10px;
        img{
            height: 20px;
            width: 20px;
        }
        h2{
            color: white;
            font-family: "open-sans";
        }
    }
    .nav
    {
        height: 100%;
        width:80%;

        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 80px;

            a{
                text-decoration: none;
                color: #fff;
                font-weight: 500;
                font-family: "open-sans";
            }
            a:hover{
                transition: all 0.1s ease-in-out;
                color: #777;

            }
        }
    }
    .signup{
        height: 100%;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        button{
            border: none;
            background-color: transparent;
            color: white;
            font-weight: 500;
            font-family: "open-sans";
        }
        i{
            color: white;
        }

        button:hover{
            transition: all 0.1s ease-in-out;
            color: #777;
        }
    }

}
