.feature{
    height:100%;
    width: 100%;
    background-color: white;

    .upper{
        height: 6%;
        width: 100%;
        padding: 20px;
        h1{
            font-size: 30px;
            font-weight: 500;
            font-family: "open-sans";
            letter-spacing: 2px;
        }
    }
    .middle{
        height: 20%;
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        .heading{
            height: 100%;
            width: 50%;
            h1{
                font-size: 30px;
                font-weight: 500;
                font-family: "Milker";
                letter-spacing: 2px;
                // line-height: 1.1;
            }
            h1::selection{
                color: #ff4b0c;
            }

        }
        .paragraph{
            height: 100%;
            width: 50%;
            p{
                font-size: 15px;
                font-weight: 300;
                font-family: "open-sans";
            }
        }

    }
    .bottom{
        height: 75%;
        width: 100%;

        .boxs{
             height: 20%;
            width: 100%;
            background-color: #ededed;
            display: flex;
            border-bottom: 1px solid black;


            .left{
                height: 100%;
                width: 50%;
                align-items: center;
                padding: 40px;

                display: flex;
                gap: 20px;
                h2{
                    font-size: 25px;
                    font-family: "arimo";
                    line-height: 1;
                }
            }
            .right{
                padding: 40px;
                height: 100%;
                width: 50%;

                display: flex;
                align-items: center;
                justify-content: end;
                .arrowbox{
                    height: 50px;
                    width: 50px;
                    background-color: black;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i{
                        color: white;
                    }
                }
            }
        }
        .boxs:hover{
            background-color: black;
            color: white;
            .arrowbox{

                background-color: #ff4b0c;
                i{
                    color: white;
                    transform: rotate(320deg);
                    transition: all 0.5s ease-in-out;
                }
            }
        transition: all 0.5s ease-in-out;
        }
        .slider{
            height: 20%;
            width:100%;
            background-color: #333;


        }

    }

}
